html {
  overflow-x: hidden;
}

/*Footer Styles*/

footer {
  color: #8F8F8F;
  text-align: center;
  font-size: 2rem;
  font-family: "Montserrat-Regular";
  position: absolute;
  height: auto;
  padding: 1rem;
  width: 100%;
}


footer a {
  color: #8F8F8F;
  border-bottom: 2px solid #8F8F8F;
  transition: all 0.5s ease;
  text-decoration: none;
}

footer a:hover {
  color: #E55D6A;
  border-bottom: 2px solid #E55D6A;
}
