!!! 5
%html
  %head
    %title Arrow
    %link(rel="stylesheet" href="./css/lib/wing.min.css")
    %link(rel="stylesheet" href="./css/styles.css")
  %body
    %h1 Arrow
    -@links.each do |link|
      #projects
        .project
          %form{:action => "/#{link.id}/upvote", :method => "POST"}(class="upvote-form")
            %button(onclick="this.submit()" class="upvote-btn")
              %span.upvote-arrow
              %p #{link.points}
          %a(href="#{link.url}" class="project-link") #{link.title}

    %form{:action => "/create", :method => "post"}
      %input{:type => "text", :name => "title", :placeholder => "Title"}
      %input{:type => "text", :name => "url", :placeholder => "Url"}
      %input{:type => "submit", :value => "Submit"}
